{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/courses-view-course-item

    This template renders the course summary (view by courses) for the myoverview block.

    Example context (json):
    {
        "fullnamedisplay": "course 3",
        "viewurl": "https://www.google.com",
        "summary": "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."
    }
}}
<div class="coursebox  courses-view-course-item {{categoriacorclasse}}">
    {{!<a href="{{viewurl} }">
        <div class="card-img-top myoverviewimg {{classes} }" style='background-image: url("{{{courseimage} } }");'>
        </div>
    </a>}}
    <div class="card-body course-info-container" id="course-info-container-{{id}}">

        {{!<div class="media">
            <div class="mr-2">
                {{> block_myoverview/progress-chart} }
            </div>
            <div class="media-body">
                <h4 class="h5"><a href="{{viewurl} }" class="{{^visible} }dimmed{{/visible} }">{{{fullnamedisplay} } }</a></h4>
            </div>
        </div>}}

        <div class="media">
            <div class="media-body">
              <h4 class="h5 coursename"><a href="{{viewurl}}" class="{{^visible}}dimmed{{/visible}}">{{{fullnamedisplay}}}</a></h4>
              {{> block_myoverview/progress-chart}}
            </div>
        </div>


        {{!<p class="text-muted">
            {{#shortentext} } 140, {{summary} }{{/shortentext} }
        </p>}}
    </div>
</div>
