{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/courses-view-by-status

    This template renders the courses view for the myoverview block.

    Example context (json):
    {}
}}
<div id="{{$id}}courses-view-status-{{uniqid}}{{/id}}"
     data-status="{{$status}}{{/status}}">
    {{> block_myoverview/course-paging-content }}

    <div class="text-xs-center text-center">
        {{> block_myoverview/paging-bar }}
    </div>
</div>
{{#js}}
require(['jquery', 'block_myoverview/paging_bar', 'block_myoverview/paging_content'],
    function($, PagingBar, PagingContent) {

    var root = $('#{{$id}}courses-view-status-{{uniqid}}{{/id}}');
    var pagingBarElement = root.find(PagingBar.rootSelector);
    var pagingContentElement = root.find(PagingContent.rootSelector);

    var content = new PagingContent(pagingContentElement, pagingBarElement);
    content.registerEventListeners();
});
{{/js}}
