{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/progress-chart

    This template renders a doughnut chart to show course progress.

    Example context (json):
    {
        "hasprogress": true,
        "progress": "60"
    }
}}
<div class="progress-chart">
    
    <p class="m-b-0 text-white">progresso do curso:</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="10" style="width:{{progress}}%">
        <span class="sr-only">{{progress}} Complete</span>
      </div>
    </div>
    {{!<div class="progress-doughnut">
        <div class="progress-text {{#progress} }has-percent{{/progress} }">{{progress} }&#37;</div>
        <div class="progress-indicator">
            <svg xmlns="http://www.w3.org/2000/svg">
                <g>
                    <title aria-hidden="true">{{progress} }&#37;</title>
                    <circle class="circle percent-{{progress} }"
                            r="27.5"
                            cx="35"
                            cy="35"/>
                </g>
            </svg>
        </div>
    </div>}}

</div>
