<a href="{{{ config.wwwroot }}}" class="navbar-brand {{# output.get_logo }}has-logo{{/ output.get_logo }}
    {{^ output.get_logo }}
        hidden-sm-down
    {{/ output.get_logo }}
        ">
    {{# output.get_logo }}
        <span class="logo hidden-xs-down">
            <img src="{{output.get_logo}}" alt="{{sitename}}">
        </span>
    {{/ output.get_logo }}
    {{^ output.get_logo }}
        <span class="site-name hidden-sm-down">{{{ sitename }}}</span>
    {{/ output.get_logo }}
</a>