<!-- Footer -->
<footer class="py-5 bg-ufpr-blue">      
    <div class="container">
    <p>Realização:   
        <img src="{{image_cipead}}" class="mx-auto d-block img-fluid" width="200">
    </p>
    <p class="m-0 text-center text-black">&reg; 2018 CIPEAD</p>        
    </div>
    <!-- /.container -->       
    {{{ output.standard_footer_html }}}
    {{{ output.standard_end_of_body_html }}}        
</footer>  