{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see <http://www.gnu.org/licenses/>. }}
  {{!
    @template theme_ufpr/frontpage

    Frontpage page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}
{{> theme_ufpr/inc_start }} 
    
  <div id="bem-vindo">
    <div class="container">
      <div class="row pt-5">
        <div class="col-sm-4">
          <h1 class=""><b>BEM VINDO AO MOODLE UFPR.</b></h1>
        </div>
        <div class="col-sm-8">
          <p class="">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus libero ac ipsum tempor, sed
            pretium tortor eleifend. Suspendisse nec sollicitudin velit. Pellentesque eu interdum neque. Mauris tempus
            orci magna, at euismod massa auctor sed.
          </p>
          <p class="">
            <b>Novo por aqui?</b> <a href="" class="">Assista a um vídeo tutorial! <i class="fa fa-play-circle fa-2x"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="container">

    {{{ output.main_content }}}

    <h4 class="my-4">Saiba mais sobre os conteúdos do Moodle:</h4>

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-3 mb-3">
        <a href="" data-toggle="modal" data-target="#conteudo-1">
          <div class="conteudos conteudo-1">
            <i class="fa fa-exclamation-circle"></i>
            UFPR HÍBRIDA
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-3">
        <a href="" data-toggle="modal" data-target="#conteudo-2">
          <div class="conteudos conteudo-2">
            <i class="fa fa-exclamation-circle"></i>
            CONTEÚDO UAB
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-3">
        <a href="" data-toggle="modal" data-target="#conteudo-3">
          <div class="conteudos conteudo-3">
            <i class="fa fa-exclamation-circle"></i>
            CONTEÚDO CIPEAD
          </div>
        </a>
      </div>
      <div class="col-lg-3 mb-3">
        <a href="" data-toggle="modal" data-target="#conteudo-4">
          <div class="conteudos conteudo-4">
            <i class="fa fa-exclamation-circle"></i>
            EAD UFPR
          </div>
        </a>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container --> 
{{> theme_ufpr/inc_end}}
{{> theme_ufpr/frontpage_modals}}  