{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/header

    Page header template

    Example context (json): {}
}}
{{>theme_ufpr/barra-brasil}}
<header role="banner" class="fixed-top navbar navbar-expand-lg navbar-ufpr bg-ufpr navbar-full moodle-has-zindex">  

    {{^is_unloged}}
        <div data-region="drawer-toggle" class="d-inline-block mr-3">
            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn nav-link float-sm-left mr-1 btn-secondary" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">{{#pix}}i/menubars{{/pix}}<span class="sr-only">{{#str}}sidepanel, core{{/str}}</span></button>
        </div>    

        {{> theme_ufpr/brand}} 
    {{/is_unloged}}


    <nav class="collapse navbar-collapse justify-content-between navbar-custom-menu">        
        {{^is_unloged}}
            <!-- custom_menu -->                 
            <ul class="navbar-nav nav-fill nav-categories d-none d-xl-flex">
                {{{ output.custom_menu }}}                        
            </ul>
            <ul class="navbar-nav d-xl-none">
                {{{ output.render_dropdown_custom_menu }}}
            </ul>

            <!-- page_heading_menu -->
            {{{ output.page_heading_menu }}}

            <div class="popover-menu-items">
                <ul class="navbar-nav">
                    <!-- language menu -->
                    <li class="popover-region">
                        {{{ output.render_lang_menu }}}
                    </li>

                    <!-- navbar_plugin_output -->
                    {{{ output.navbar_plugin_output }}}

                    <!-- user_menu -->
                    {{{ output.user_menu }}}                        
                </ul>                    
            </div>  

            <div class="visual-functions">
                <ul class="navbar-nav">
                    <li class="nav-item font-a-minus"><button id="btn-decrease">A-</button></li>
                    <li class="nav-item font-a"><button id="btn-orig">A</button></li>
                    <li class="nav-item font-a-plus"><button id="btn-increase">A+</button></li>
                    <li class="nav-item contrast"><button id="btn-contraste"><i class="fa fa-adjust"></i></button></li>
                </ul>
            </div>    
        {{/is_unloged}}
        {{#is_unloged}}   
            <div class="container-fluid navbar-nav">
                {{> theme_ufpr/brand}}     
                <ul class="nav navbar-nav nav-fill w-100">
                    <li class="nav-item nav-item-1">              
                        <a class="nav-link" href="http://www.cipead.ufpr.br/portal/criar-usuario-ava/">CADASTRAR</a>            
                    </li>
                    <li class="nav-item nav-item-2">
                        <form id="guestlogin" action="{{{ config.wwwroot }}}/login/index.php" method="post">
                            <input type="hidden" name="username" value="guest">
                            <input type="hidden" name="password" value="guest">
                            <button class="nav-link nav-link-button" type="submit">ACESSAR COMO VISITANTE</button>
                        </form>
                    </li>
                    <li class="nav-item nav-item-3">
                        <a class="nav-link" href="{{{ config.wwwroot }}}/login/">ACESSAR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-question-circle"></i> AJUDA</a>
                    </li>
                </ul>
            </div>
        {{/is_unloged}}                    

        <!-- search_box -->
        <span class="hidden-md-down">
          {{{ output.search_box }}}
        </span>
    </nav>
</header>