    
    {{> theme_ufpr/nav-drawer }}
    
</div><!-- Ends .page-wrapper -->

{{> theme_ufpr/footer }}

</body>
</html>
<!-- Barra Brasil -->
<script defer="defer" src="//barra.brasil.gov.br/barra.js" type="text/javascript"></script> 
{{#js}}
require(['theme_boost/loader']);
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});

require(['jquery'], function($){
    $('.coursebox').each(function(){
        var img = 'pattern' + (Math.round(Math.random() * 10) - 1);
        $(this).addClass(img);
    });

    var $affectedElements = $("a,p,span"); 
    $affectedElements.each( function(){
        var $this = $(this);
        $this.data("orig-size", $this.css("font-size") );
    });

    $("#btn-increase").click(function(){
        changeFontSize(1);
    })

    $("#btn-decrease").click(function(){
        changeFontSize(-1);
    })

    $("#btn-orig").click(function(){
        $affectedElements.each( function(){
            var $this = $(this);
            $this.css( "font-size" , $this.data("orig-size") );
        });
    })
 
    function changeFontSize(direction){
        $affectedElements.each( function(){
            var $this = $(this);
            $this.css( "font-size" , parseInt($this.css("font-size"))+direction );
        });
    }
    var contrast = false;
    $("#btn-contraste").click(function(){
        contrast = !contrast;
        if(contrast){
            $('body').addClass('contraste');
        }else{
            $('body').removeClass('contraste');
        }
    })

});

require([], function() {
    var iconsearch = document.querySelector('.moove-search-input .icon-magnifier');
    var btnclosesearch = document.querySelector('.search-input-form .close-search');
    var searchinputform = document.querySelector('.moove-search-input');

    if (iconsearch) {

        var togglesearchinputform = function() {
            searchinputform.classList.toggle('expanded');
        }

        iconsearch.onclick = togglesearchinputform;
        btnclosesearch.onclick = togglesearchinputform;
    }
});

{{/js}}