{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}
{{> theme_ufpr/inc_start }}

    <div id="page" class="container-fluid">    
        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12">
                <section id="region-main" class="col-12">
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.course_content_footer }}}
                    
                    {{# output.page_doc_link }}
                        <p class="helplink">{{{ output.page_doc_link }}}</p>
                    {{/ output.page_doc_link }}
                    {{{ output.login_info }}}
                    {{{ output.home_link }}}
                </section>
            </div>            
        </div>
    </div>
{{! end page-wrapper }}
</div> 
</body>
</html>
<!-- Barra Brasil -->
<script defer="defer" src="//barra.brasil.gov.br/barra.js" type="text/javascript"></script> 
{{#js}}
require(['theme_boost/loader']);
{{/js}}