.pagelayout-course{

    #page-wrapper{
        margin-top: 95px;
    }      

    .btn-cat {
        width: 100%;
        border-radius: 0px;
    }

    .btn-cat[aria-expanded="true"] .sectionname::after{
        content: "\f0d8";
    }
    
    .btn-cat a{
        color: #FFFFFF;
        :hover{
            text-decoration: none;
        }
    }

    .sectionname::after{
        font-family: "FontAwesome";
        content: "\f0dd";
        color: #FFFFFF;
        float: right;
        margin-right: 10px;
    }

    .course-content{
        .summary, .collapse{
            border: 1px solid lightgray;
            margin: 0 20px !important;
        }        
    }

    .course-content ul li.section.main{
        border: none;
    }
    
}


.first-cat .btn-cat{
  background-color: $first-cat-bg;
}

.second-cat .btn-cat{
	background-color: $second-cat-bg;
}

.third-cat .btn-cat{
	background-color: $third-cat-bg;
}
