.coursebox {
	background-color: $ufpr-blue;
	width: 216px;
	height: 216px;
	margin: 0 17px;
	margin-bottom: 35px;
}

.path-my .coursebox {
	width: 216px;
	height: 216px;
	margin: 0 17px;
	margin-bottom: 35px;
}

.courses .row{
	margin-bottom: 40px;
}

.pattern1{
	background-image: url([[pix:theme|pattern1]]);
}

.pattern2{
	background-image: url([[pix:theme|pattern2]]);
}

.pattern3{
	background-image: url([[pix:theme|pattern3]]);
}

.pattern4{
	background-image: url([[pix:theme|pattern4]]);
}

.pattern5{
	background-image: url([[pix:theme|pattern5]]);
}

.pattern6{
	background-image: url([[pix:theme|pattern6]]);
}

.pattern7{
	background-image: url([[pix:theme|pattern7]]);
}

.pattern8{
	background-image: url([[pix:theme|pattern8]]);
}

.pattern9{
	background-image: url([[pix:theme|pattern9]]);
}

.pattern10{
	background-image: url([[pix:theme|pattern10]]);
}

.pattern11{
	background-image: url([[pix:theme|pattern11]]);
}

.coursename {
  text-align: right;
}

.coursebox > .info {

	.coursename a{
		text-decoration: none;
		background-image: none;
		color: white;
		font-family: 'Roboto Slab', serif;
		font-weight: bold;
		margin-right: 5px;
		margin-top: 5px;
	}
}

.media > .media-body {

	.coursename a{
		text-decoration: none;
		background-image: none;
		color: white;
		font-family: 'Roboto Slab', serif;
		font-weight: bold;
		margin-right: 5px;
		margin-top: 5px;
	}
}

.cat-cor-1{
	background-color: $first-cat-bg;
}

.cat-cor-2{
	background-color: $second-cat-bg;
}

.cat-cor-3{
	background-color: $third-cat-bg;
}

.cat-cor-1 > .card-body > .media > .media-body> .progress-chart > .progress > .progress-bar {
	//background-color: purple;
	background-color: lighten($first-cat-bg, 10%);
}

.cat-cor-2 > .progress-bar {
	background-color: lighten($second-cat-bg, 10%);
}

.cat-cor-3 > .progress-bar {
	background-color: lighten($third-cat-bg, 10%);
}

.progress-chart{
	margin-top: 4rem;
}
