.ufpr-frontpage{

	#page-wrapper{
		min-height: auto;
	}

	.navbar-nav, #bem-vindo {
		a, button, p, h1{
			color: #fff;
		}
	}	

	.navbar-nav{
		max-width: 1140px;
	}

	.navbar-brand{
		position: relative;
	}

	.navbar-brand:after{
		content: '';
		position: absolute;
		border-right: 1px solid #fff;
		height: 50%; 
		top: 25%;
		margin-left: 20px;
	}
	
	.conteudos{
		text-align: center;
		height: 70px;
		margin: 30px;
		line-height: 70px;
		vertical-align: center;
		color: #fff;
	}
	
	.conteudos i{
		position: absolute;
		top: 20px;
		right: 40px;
		color: $ufpr-dark-blue;
	}
	
	.conteudo-1{
		background-color: $first-cat-bg;
	}
	
	#conteudo-1 .modal-header{
		background-color: $first-cat-bg;
		color: #fff;
		font-weight: bold;
	}

	#conteudo-3 .modal-header{
		background-color: $third-cat-bg;
		color: #fff;
		font-weight: bold;
	}
	
	.conteudo-4{
		background-color: $ufpr-blue;
	}
	
	#conteudo-4 .modal-header{
		background-color: $ufpr-blue;
		color: #fff;
		font-weight: bold;
	}
	
	#navbarResponsive{
		background-color: $ufpr-dark-blue;
		z-index: 1;
	}
	
	#bem-vindo{
		min-height: 280px;
		background-color: $ufpr-blue;
		margin-top: 173px;
	}	

	.conteudo-2{
		background-color: $second-cat-bg;
	}
	
	#conteudo-2 .modal-header{
		background-color: $second-cat-bg;
		color: #fff;
		font-weight: bold;
	}
	
	.conteudo-3{
		background-color: $third-cat-bg;
	}

	.navbar-ufpr{
		background-color: $ufpr-dark-blue;
		height: 140px;
		max-height: 140px;
		font-family: 'Roboto', sans-serif;
	
		.nav-link-button{
			background-color: $ufpr-dark-blue;
			color: #FFF;
			cursor: pointer;
			width: 100%;
		}	
	
	
		.navbar-brand:hover{
			color: #fff;
		}
		
		.nav-item a:hover, .nav-link-button:hover{
			color: $ufpr-dark-blue;
			background-color: #fff; 
		}
		
		.nav-item{    
			text-align: center;
			font-weight: bold;
		}
	
		.nav-item-1{
			border-bottom: 3px solid #5A92CE;
		}
		
		.nav-item-2{
			border-bottom: 3px solid #61A1DB;
		}
		
		.nav-item-3{
			border-bottom: 3px solid #6FBEEF;
		}
	}
}