$ufpr-blue: #3C7EC5;
$ufpr-dark-blue: darken($ufpr-blue, 7);
$ufpr-light-blue: lighten($ufpr-blue, 7);
$navbar-color: #F1F1F1;
$normal-text: #454444;
$pattern-color: rgba($normal-text, .5);

body {
	//padding-top: 0px !important;
	font-family: 'Roboto', sans-serif;
	color: $normal-text;

	a {
		color: $normal-text;

		:hover{
			text-decoration: none;
		}
	}
}

header{
	top: 33px !important;
}

#page-wrapper{				
	margin-top: 110px;
}

#region-main.has-block{
	width: calc(100% - 280px);
}

.card{
	border: none;
}

.bg-ufpr-blue{
	background-color: $ufpr-light-blue;
}

.visual-functions{

	margin-left: 10px;
	

	.font-a-plus{
		font-size: large;				
	}

	.font-a-minus{
		font-size: small;		
	}

	.contrast{
		margin-left: 15px !important;
	}

	.nav-item button{
		font-weight: 400 !important;
		color: lighten($normal-text, 30);
		line-height: 50px;
		border: none;		
	}

	.nav-item button:hover{
		color: $normal-text !important;
		cursor: pointer;
	}
	
}


.navbar-ufpr{
	background-color: $navbar-color;
	height: 60px;
	max-height: 60px;	

	.nav-link-button{		
		border: none;
		font-weight: bold;
		color: $normal-text;
	}

	.navbar-brand{
		font-weight: bold;
		text-align: center;
		padding: 0 10px;
	}

	.navbar-brand:after{
		content: '';
		position: absolute;
		border-right: 1px solid $normal-text;
		height: 30%; 
		top: 35%;
		margin-left: 20px;
	}

	.navbar-brand:hover{
		color: $ufpr-blue;
	}
	
	.nav-item a:hover, .nav-link-button:hover{
		color: $normal-text;
	}
	
	.nav-item{    
		text-align: center;
		font-weight: bold;
	}

	.nav-categories{
	
		width: calc(100% - 480px);
		margin: auto;

		.nav-link{
			padding: 0 20px;			
		}
		
		li:nth-child(1){
			border-bottom: 5px solid $ufpr-blue;
		}

		li:nth-child(2){
			border-bottom: 5px solid $first-cat-bg;
		}

		li:nth-child(3){
			border-bottom: 5px solid $second-cat-bg;
		}

		li:nth-child(4){
			border-bottom: 5px solid $third-cat-bg;
		}
	}

	.avatar img{
		border-radius: 50%;
	}
}

#page-navbar{
	width: calc(100% - 256px);
}

.breadcrumb{
	border-radius: 0px;
	font-weight: bold;
}

.breadcrumb-item + .breadcrumb-item::before{
	content: ">";
}

.list-group-item:first-child, .list-group-item:last-child{
	border-radius: 0px;
}