.ufpr-login{

	background-color: $ufpr-blue;
	background-image: url('[[pix:theme|ufpr_bg]]');
	background-size: cover;
	background-repeat: no-repeat;	

	.navbar-ufpr{
		display: none;
	}

	#region-main-box{

		.form-box{			
			width: 80%;	

			#loginbtn{
				max-width: 150px;
				background-color: $ufpr-light-blue;
				border-color: transparent;
			}

			.rememberpass{
				font-size: small;				
			}
		}

		.small-text{
			font-size: small;

			.forgetpass a{
				color: $ufpr-blue;
			}
		}

		.card{
			width: 420px;
		}

		.card-header{
			background-color: #fff;
			border-bottom: none;
			position: relative;			
		}

		.card-header:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 10%;
			width: 80%;
			border-bottom: 1px solid lighten($normal-text,50);
		}
	}

	footer {
		display: none;
	}
}