#nav-drawer {
	background-image: url('[[pix:theme|ufpr_bg_transparent]]');
	background-repeat: no-repeat;
	top: 90px;
	height: calc(100% - 90px);
}

.ufpr-bg {
	#nav-drawer{
		background-color: $ufpr-blue;

		.list-group-item{
			background-color: $ufpr-blue;
			color: #FFF;
		}
	}



	.active{
		background-color: #FFF;
		color: $normal-text;
		border-color: #fff;
	}
}

.first-cat{
	#nav-drawer{
		background-color: $first-cat-bg;

		.list-group-item{
			background-color: $first-cat-bg;
			color: #FFF;
		}
	}



	.active{
		background-color: #FFF;
		color: $normal-text;
		border-color: #fff;
	}
}

.second-cat{
	#nav-drawer{
		background-color: $second-cat-bg;
		.list-group-item{
			background-color: $second-cat-bg;
			color: #FFF;
		}
	}



	.active{
		background-color: #FFF;
		color: $normal-text;
		border-color: #fff;
	}
}

.third-cat{
	#nav-drawer{
		background-color: $third-cat-bg;
		.list-group-item{
			background-color: $third-cat-bg;
			color: #FFF;
		}
	}



	.active{
		background-color: #FFF;
		color: $normal-text;
		border-color: #fff;
	}
}
